openapi: 3.0.0
info:
  title: SRGSSR Video
  description: >
    This API provides Video Metadata (incl. subtitles) from RSI, RTS, RTS, SRF, SWI.
  contact:
    name: API Developer
    url: https://developer.srgssr.ch
    email: api@srgssr.ch
  version: '2.0.4'
servers:
- url: https://api.srgssr.ch/videometadata/v2
  variables: {}
- url: http://api.srgssr.ch/videometadata/v2
  variables: {}
- url: https://srgssr-prod.apigee.net/oauth/v1
  variables: {}
paths:
  /tv_shows/alphabetical:
    get:
      tags:
      - TvShows
      summary: tvshowsByAlphabetical
      description: Returns TV shows according to an editorially managed list.
      operationId: tvshowsByAlphabetical
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: characterFilter
        in: query
        description: 'One character (a-z) or # for everything else that is used to filter.'
        required: true
        style: form
        explode: true
        schema:
          pattern: '[a-z#]{1}'
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: >-
          The number of items that should be returned per page. Only supported on the request to the first page!


          **Note:** To receive a unlimited list, set the pageSize to "unlimited".
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type ShowList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/ShowList'
                - xml:
                    name: ShowList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/ShowList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/ShowList'
                - xml:
                    name: ShowList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/ShowList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /tv_shows:
    get:
      tags:
      - TvShows
      summary: searchShowList
      description: Returns the results matching the given search criteria.
      operationId: searchShowList
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: q
        in: query
        description: Search parameter to fetch the desired Media.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type SearchResultListShow
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/SearchResultListShow'
                - xml:
                    name: SearchResultListShow
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultListShow'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/SearchResultListShow'
                - xml:
                    name: SearchResultListShow
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultListShow'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /tv_shows/{showId}:
    get:
      tags:
      - TvShows
      summary: tvShow
      description: Returns metatdata for a TV show. You can pick showId from searchShowList API.
      operationId: tvShow
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: showId
        in: path
        description: The ID of an show. You can get showId from the searchShowList API.
        required: true
        style: simple
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type Show
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Show'
                - xml:
                    name: Show
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Show'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Show'
                - xml:
                    name: Show
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Show'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /most_clicked:
    get:
      tags:
      - VideoShows
      summary: mostClicked
      description: Returns the videos which where most clicked in the last 24 hours.
      operationId: mostClicked
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: topicId
        in: query
        description: The ID of an topic.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /{videoId}/recommended:
    get:
      tags:
      - VideoShows
      summary: recommended
      description: Returns the recommended videos for a given video based on the recommendation engine calculation, ordered by score. The list will be supplemented with trending videos. You can get videoid from searchVideoList API.
      operationId: recommended
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          enum:
          - srf
          type: string
      - name: videoId
        in: path
        description: The ID of an video asset. You can get videoid from episodeComposition (/latest_episodes/shows/{showId} API.
        required: true
        style: simple
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '404':
          description: Object of type unknownResource
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /expiring_soon:
    get:
      tags:
      - VideoShows
      summary: expiringsoon
      description: Returns videos which will expire within the next 28 days. Sorted by the expiration date in ascending order.
      operationId: expiringsoon
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /editorial_recomendation:
    get:
      tags:
      - VideoShows
      summary: editorialrecomendation
      description: Returns a list of editorially selected videos.
      operationId: editorialrecomendation
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /trending_picks:
    get:
      tags:
      - VideoShows
      summary: trending
      description: >-
        Returns videos from editorial picks (except rtr) and complete list with trending videos.


        The parameter maxCountEditorPicks allows to define number of editorial picks.
      operationId: trending
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: onlyEpisodes
        in: query
        description: Return only episodes.
        style: form
        explode: true
        schema:
          type: boolean
      - name: maxCountEditorPicks
        in: query
        description: How many 'editor picks' should be included in the result. An emtpy value returns all available editor picks.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /{videoId}/mediaComposition:
    get:
      tags:
      - VideoShows
      summary: mediaComposition
      description: Returns detailed metatdata for a video. On the chapter section there are information to play the video. You need to get videoid from EpisodeComposition (/latest_episodes/shows/{showId} API.
      operationId: mediaComposition
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: videoId
        in: path
        description: The ID of an video asset. You can get videoid from episodeComposition (/latest_episodes/shows/{showId} API.
        required: true
        style: simple
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaComposition
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaComposition'
                - xml:
                    name: MediaComposition
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaComposition'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaComposition'
                - xml:
                    name: MediaComposition
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaComposition'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /search:
    get:
      tags:
      - VideoShows
      summary: searchVideoList
      description: Returns the results matching the given search criteria.
      operationId: searchVideoList
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: q
        in: query
        description: Search parameter to fetch the desired Media.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type SearchResultListMedia
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/SearchResultListMedia'
                - xml:
                    name: SearchResultListMedia
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultListMedia'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/SearchResultListMedia'
                - xml:
                    name: SearchResultListMedia
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultListMedia'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /livestreams:
    get:
      tags:
      - Livestreams
      summary: livestreams
      description: Returns a list livestream medias.
      operationId: livestreams
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /livestreamIds:
    get:
      tags:
      - Livestreams
      summary: videobylivestreamIds
      description: Returns the videos requested by ids parameter. You can pick livestream ID from livestreams API.
      operationId: videobylivestreamIds
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: ids
        in: query
        description: The ID of an Livestream. You can pick livestream ID from livestreams API.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /tv_channels:
    get:
      tags:
      - TvChannels
      summary: channelList
      description: Returns a list of TV channels.
      operationId: channelList
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu16'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type ChannelList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/ChannelList'
                - xml:
                    name: ChannelList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/ChannelList'
                - xml:
                    name: ChannelList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /tv_topics:
    get:
      tags:
      - Topics
      summary: topicList
      description: Returns tv topics such as e.g. 'news', 'sport', etc.
      operationId: topicList
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type TopicList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/TopicList'
                - xml:
                    name: TopicList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/TopicList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/TopicList'
                - xml:
                    name: TopicList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/TopicList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /latest_topics/{topicId}:
    get:
      tags:
      - Topics
      summary: latestByTopic
      description: Returns the latest videos filtered by topic. You need to get topicId from Topic List API listed below.
      operationId: latestByTopic
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: topicId
        in: path
        description: The ID of an topic. You can get topicId from /tv_topics API.
        required: true
        style: simple
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /latest_episodes:
    get:
      tags:
      - Episodes
      summary: latestEpisodes
      description: Returns the latest full-length videos filtered by an editorially managed list of shows.
      operationId: latestEpisodes
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Object of type MediaList
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/MediaList'
                - xml:
                    name: MediaList
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/MediaList'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /latest_episodes/shows/{showId}:
    get:
      tags:
      - Episodes
      summary: episodeComposition
      description: Returns the latest episodes with a list of media for the given show. Only episodes with playable media are returned. You need to get showId from the SearchResultListShow API.
      operationId: episodeComposition
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: showId
        in: path
        description: The ID of an show. You can get showId from the searchShowList API.
        required: true
        style: simple
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
      - name: maxPublishedDate
        in: query
        description: Content is included from now to past until maxPublishedDate.
        style: form
        explode: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of items that should be returned per page. Only supported on the request to the first page!
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: next
        in: query
        description: Encoded reference to the next page. Clients must not assemble this at their own but just use the next-link provided as part of the payload of every response.
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Latest episodes with a list of media for the given show.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/EpisodeComposition'
                - xml:
                    name: EpisodeComposition
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeComposition'
        '203':
          description: The returned object is the same as in a 200 response, but some, non-mandatory, values may be missing.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/EpisodeComposition'
                - xml:
                    name: EpisodeComposition
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeComposition'
        '400':
          description: Object of type missingParam.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/missingParam'
                - xml:
                    name: missingParam
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/missingParam'
        '401':
          description: Object of type tokenError
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/tokenError'
                - xml:
                    name: tokenError
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/tokenError'
        '403':
          description: Object of type quotaViolation.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/quotaViolation'
                - xml:
                    name: quotaViolation
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/quotaViolation'
        '405':
          description: Object of type methodNotAllowed
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/methodNotAllowed'
                - xml:
                    name: methodNotAllowed
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/methodNotAllowed'
        '404':
          description: Object of type unknownResource.
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/unknownResource'
                - xml:
                    name: unknownResource
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/unknownResource'
        default:
          description: Unexpected error
          headers: {}
          content:
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/Status'
                - xml:
                    name: Status
                    attribute: false
                    wrapped: false
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      deprecated: false
      security:
      - srg_auth: []
  /episodes_now_next/channels/{channelId}:
    get:
      tags:
      - Episodes
      summary: channelEdpisodes
      description: Returns the currently playing and upcoming episode. You can pick channelId from channelList API
      operationId: channelEdpisodes
      parameters:
      - name: bu
        in: query
        description: Business unit
        required: true
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/bu'
          - description: Business unit
      - name: channelId
        in: path
        description: The ID of an channel (to get valid IDs use channelList API)
        required: true
        style: simple
        schema:
          type: string
      - name: accept
        in: header
        description: ''
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/accept'
          - {}
      - name: callback
        in: query
        description: If this parameter is set, the result will be returned as [JSONP](https://en.wikipedia.org/wiki/JSONP). The given value will be used as the name of the method to be called.
        style: form
        explode: true
        schema:
          type: string
[...]
